<div class="sidebar-container">
  <div class="sidebar-header">
    <img src='assets/logo.png' alt="Red Product Logo" class="header-logo">
    <h1 class="logo">RED PRODUCT</h1>
  </div>

  <nav class="sidebar-nav">
 <h1 class="section-title">Principal</h1>
    <ul>
      <li *ngFor="let item of navItems">
        <ng-container *ngIf="!item.route; else linkTemplate">
          <a class="non-clickable">
            <img [src]="item.iconImage" [alt]="item.label + ' icon'" class="nav-icon">
            <span>{{ item.label }}</span>
          </a>
        </ng-container>
        
        <ng-template #linkTemplate>
          <a [routerLink]="item.route" routerLinkActive="active-link">
            <img [src]="item.iconImage" [alt]="item.label + ' icon'" class="nav-icon">
            <span>{{ item.label }}</span>
          </a>
        </ng-template>
      </li>
    </ul>
  </nav>

  <div class="sidebar-user-info">
    <div class="user-profile">
      <img [src]="userProfilePic" alt="Profile Picture" class="profile-pic">
      <div class="user-details">
        <div class="user-name">{{ userName }}</div>
        <div class="user-status">{{ userStatus }}</div>
      </div>
    </div>
  </div>
</div>